.logo {
  height: inherit;
  width: auto;
}

.navbar-brand {
  padding: 0;
}

@media (max-width: 768px) {
  .navbar-top-links .dropdown-user {
    right: auto;
  }
}

.frontier {
  z-index: 999999;
}

.sidebar-separator {
  margin-top: 1px;
  margin-bottom: 1px;
}

.bar-cast {
  background-color: #00ACC1;
}

.navbar-top-links > li > a:active, .navbar-top-links > li > a:visited, .dropdown-toggle {
  color: ghostwhite;
}

.navbar-top-links > li > a:focus, .navbar-top-links > li > a:hover {
  color: grey;
  background-color: #4DD0E1;
}
