.product-list{
  margin-left:30px;
  margin-right:30px;
}

.thumbnail-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom:20px;
}

.thumbnail {
  position:absolute;
  width:100%;
  height:100%;
}
.thumbnail .thumbnail-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.thumbnail-img {
    max-height:100%;
}
